In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

ames = pd.read_csv('AmesHousing.tsv',delimiter='\t')

In [2]:
ames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
Order              2930 non-null int64
PID                2930 non-null int64
MS SubClass        2930 non-null int64
MS Zoning          2930 non-null object
Lot Frontage       2440 non-null float64
Lot Area           2930 non-null int64
Street             2930 non-null object
Alley              198 non-null object
Lot Shape          2930 non-null object
Land Contour       2930 non-null object
Utilities          2930 non-null object
Lot Config         2930 non-null object
Land Slope         2930 non-null object
Neighborhood       2930 non-null object
Condition 1        2930 non-null object
Condition 2        2930 non-null object
Bldg Type          2930 non-null object
House Style        2930 non-null object
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
Year Built         2930 non-null int64
Year Remod/Add     2930 non-null int64
Roof Style         2930 non-null object
Roof Matl          2930 non-null object
Exterior 1st       2930 non-null object
Exterior 2nd       2930 non-null object
Mas Vnr Type       2907 non-null object
Mas Vnr Area       2907 non-null float64
Exter Qual         2930 non-null object
Exter Cond         2930 non-null object
Foundation         2930 non-null object
Bsmt Qual          2850 non-null object
Bsmt Cond          2850 non-null object
Bsmt Exposure      2847 non-null object
BsmtFin Type 1     2850 non-null object
BsmtFin SF 1       2929 non-null float64
BsmtFin Type 2     2849 non-null object
BsmtFin SF 2       2929 non-null float64
Bsmt Unf SF        2929 non-null float64
Total Bsmt SF      2929 non-null float64
Heating            2930 non-null object
Heating QC         2930 non-null object
Central Air        2930 non-null object
Electrical         2929 non-null object
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Bsmt Full Bath     2928 non-null float64
Bsmt Half Bath     2928 non-null float64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Kitchen Qual       2930 non-null object
TotRms AbvGrd      2930 non-null int64
Functional         2930 non-null object
Fireplaces         2930 non-null int64
Fireplace Qu       1508 non-null object
Garage Type        2773 non-null object
Garage Yr Blt      2771 non-null float64
Garage Finish      2771 non-null object
Garage Cars        2929 non-null float64
Garage Area        2929 non-null float64
Garage Qual        2771 non-null object
Garage Cond        2771 non-null object
Paved Drive        2930 non-null object
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Pool QC            13 non-null object
Fence              572 non-null object
Misc Feature       106 non-null object
Misc Val           2930 non-null int64
Mo Sold            2930 non-null int64
Yr Sold            2930 non-null int64
Sale Type          2930 non-null object
Sale Condition     2930 non-null object
SalePrice          2930 non-null int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.4+ MB

In [3]:
ames.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
def transform_features(df):
    return df

def select_features(df):
    return df[['Gr Liv Area','SalePrice']]

def train_and_test(df):
    train = df[0:1460]
    test = df[1460:]
    
    train_numeric = train.select_dtypes(include=['int', 'float'])
    test_numeric = test.select_dtypes(include=['int','float'])
    
    features = train.columns.drop('SalePrice')
    
    lr = LinearRegression()
    lr.fit(train[features],train['SalePrice'])
    predictions = lr.predict(test[features])
    rmse = mean_squared_error(test['SalePrice'],predictions)**(1/2)
    
    return rmse

In [29]:
from sklearn.model_selection import train_test_split

def train_and_test_2(df):
    
    data = df.select_dtypes(exclude=['object'])
    
    features = data.columns.drop('SalePrice')
    
    X_train, X_test, y_train, y_test = train_test_split(data[features], data['SalePrice'], test_size=0.502, random_state=1)
    
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    predictions = lr.predict(X_test)
    rmse = mean_squared_error(y_test,predictions)**(1/2)
    
    return rmse

In [18]:
data = transform_features(ames)
select = select_features (data)
train_model = train_and_test(select)

print(train_model)

57088.2516126

In [32]:
data = transform_features(ames)
select = select_features (data)
train_model_2 = train_and_test_2(select)

print(train_model_2)

57205.6924128

In [47]:
ames.isnull().sum()[ames.isnull().sum() > round(len(ames)*0.05)].index

Index(['Lot Frontage', 'Alley', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Qual', 'Garage Cond', 'Pool QC', 'Fence',
       'Misc Feature'],
      dtype='object')

In [75]:
count_null = ames.isnull().sum()
null_cols = count_null[count_null > round(len(ames)*0.05)].index
print(null_cols)
ames.drop(labels=null_cols,axis=1,inplace=True)
print(ames.shape)

Index(['Lot Frontage', 'Alley', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Qual', 'Garage Cond', 'Pool QC', 'Fence',
       'Misc Feature'],
      dtype='object')
(2930, 71)

In [93]:
num_ames = ames.select_dtypes(exclude=['object'])
num_ames_null = ames.select_dtypes(exclude=['object']).isnull().sum()
num_ames_null_cols = num_ames_null[num_ames_null > 0].index.tolist()

print(num_ames_null)
print(num_ames_null_cols)

for col in num_ames_null_cols:
    num_ames[col].fillna(num_ames[col].value_counts().index[0], inplace=True)
    print(num_ames[col].value_counts().index[0])
#ames['SalePrice'].value_counts().index[0]

print(num_ames.isnull().sum())

Order               0
PID                 0
MS SubClass         0
Lot Area            0
Overall Qual        0
Overall Cond        0
Year Built          0
Year Remod/Add      0
Mas Vnr Area       23
BsmtFin SF 1        1
BsmtFin SF 2        1
Bsmt Unf SF         1
Total Bsmt SF       1
1st Flr SF          0
2nd Flr SF          0
Low Qual Fin SF     0
Gr Liv Area         0
Bsmt Full Bath      2
Bsmt Half Bath      2
Full Bath           0
Half Bath           0
Bedroom AbvGr       0
Kitchen AbvGr       0
TotRms AbvGrd       0
Fireplaces          0
Garage Cars         1
Garage Area         1
Wood Deck SF        0
Open Porch SF       0
Enclosed Porch      0
3Ssn Porch          0
Screen Porch        0
Pool Area           0
Misc Val            0
Mo Sold             0
Yr Sold             0
SalePrice           0
dtype: int64
['Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Cars', 'Garage Area']
0.0
0.0
0.0
0.0

C:\Users\yus22159\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

0.0
0.0
0.0
2.0
0.0
Order              0
PID                0
MS SubClass        0
Lot Area           0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Mas Vnr Area       0
BsmtFin SF 1       0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Cars        0
Garage Area        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
SalePrice          0
dtype: int64

In [99]:
text_ames = ames.select_dtypes(include=['object'])
text_ames_null = text_ames.isnull().sum().sort_values(ascending=False)
text_ames_null_cols = text_ames_null[text_ames_null>0].index
print(text_ames_null_cols)
print(text_ames.shape)
text_ames.drop(text_ames_null_cols, axis=1 , inplace=True)
print(text_ames.shape)

Index(['Bsmt Exposure', 'BsmtFin Type 2', 'BsmtFin Type 1', 'Bsmt Qual',
       'Bsmt Cond', 'Mas Vnr Type', 'Electrical'],
      dtype='object')
(2930, 34)
(2930, 27)

C:\Users\yus22159\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [109]:
years_sold = ames['Yr Sold'] - ames['Year Built']
print(years_sold[years_sold < 0])

years_mod = ames['Yr Sold'] - ames['Year Remod/Add']
print(years_mod[years_mod < 0])
ames.drop([2180,1702,2181],axis=0,inplace=True)
print(ames.shape)

Series([], dtype: int64)
Series([], dtype: int64)
(2927, 71)

In [111]:
ames['Years Before Sale'] = years_sold
ames['Years Since Remod'] = years_mod

ames.drop(['Year Built','Year Remod/Add','PID','Order','Mo Sold', 'Sale Condition', 'Sale Type', 'Yr Sold'], axis=1, inplace=True)

In [112]:
ames.shape

(2927, 65)

### Drop columns that have more than 5% missing values

In [7]:
count_null = ames.isnull().sum()
null_cols = count_null[count_null > round(len(ames)*0.05)].index
print(ames.shape)
ames.drop(labels=null_cols,axis=1,inplace=True)
ames.shape

(2930, 82)

(2930, 71)

In [8]:
round(len(ames)/20)

146

In [9]:
context = ames.select_dtypes(include='object')
context_null = context.isnull().sum()
context_null_cols = context_null[context_null > 0].index
print(context_null)
ames.drop(labels=context_null_cols,axis=1,inplace=True)
print(ames.shape)
print(ames.isnull().sum().sort_values(ascending=False))

TypeError: include and exclude must both be non-string sequences

In [66]:
numeric = ames.select_dtypes(include=['float','int'])
numeric.isnull().sum()

Mas Vnr Area      23
BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Bsmt Full Bath     2
Bsmt Half Bath     2
Garage Cars        1
Garage Area        1
dtype: int64

In [69]:
ames = ames.fillna(numeric.mode().to_dict(orient='records')[0])
ames.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Area            0
Street              0
Lot Shape           0
Land Contour        0
Utilities           0
Lot Config          0
Land Slope          0
Neighborhood        0
Condition 1         0
Condition 2         0
Bldg Type           0
House Style         0
Overall Qual        0
Overall Cond        0
Year Built          0
Year Remod/Add      0
Roof Style          0
Roof Matl           0
Exterior 1st        0
Exterior 2nd        0
Mas Vnr Type       23
Mas Vnr Area        0
Exter Qual          0
Exter Cond          0
Foundation          0
Bsmt Qual          80
                   ..
Electrical          1
1st Flr SF          0
2nd Flr SF          0
Low Qual Fin SF     0
Gr Liv Area         0
Bsmt Full Bath      0
Bsmt Half Bath      0
Full Bath           0
Half Bath           0
Bedroom AbvGr       0
Kitchen AbvGr       0
Kitchen Qual        0
TotRms AbvGrd       0
Functional          0
Fireplaces          0
Garage Cars         0
Garage Area         0
Paved Drive         0
Wood Deck SF        0
Open Porch SF       0
Enclosed Porch      0
3Ssn Porch          0
Screen Porch        0
Pool Area           0
Misc Val            0
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 71, dtype: int64

In [70]:
ames.isnull().sum().value_counts()

0     64
80     3
83     1
81     1
23     1
1      1
dtype: int64